<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>登録日時:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @meeting.text %>
</p>

<p>
  <strong>朝御飯:</strong>
  <%= @meeting.breakfast %>
</p>


<p>
  <strong>昼御飯:</strong>
  <%= @meeting.lunch %>
</p>


<p>
  <strong>夜御飯:</strong>
  <%= @meeting.dinner %>
</p>

<%= link_to '編集する', edit_meeting_path(@meeting) %> |
<%= link_to '戻る', meetings_path %> |
<%= link_to '削除', @meeting, method: :delete, data: { confirm: 'Are you sure?' } %>

